
    Problem Statement
Given   an  undirected  graph   consisting  of  
N
    nodes   (labelled   1   to  N)  where   a   specific    given   node    
S
    represents
6the    start   position    and an  edge    between any two nodes   is  of  length      units   in  the graph.
It  is  required    to  calculate   the shortest    distance    from    start   position    (Node   S)  to  all of  the other   nodes   in  the
graph.
 −1
 <br><br>Note 1:  If  a   node    is  unreachable ,   the distance    is  assumed as   .  
Note    2:  The length  of  each    edge    in  the graph   is  6   units.
Input   Format
The first   line    contains    
T
,   denoting    the number  of  test    cases.  
First   line    of  each    test    case    has two integers    
N
,   denoting    the number  of  nodes   in  the graph   and 
M
,   denoting
the number  of  edges   in  the graph.  
The next    
M
    lines   each    consist of  two space   separated   integers    
x   y
,   where   
x
    and 
y
    denote  the two nodes
between which   the edge    exists. 
The last    line    of  a   testcase    has an  integer 
S
,   denoting    the starting    position.
<br><br>Constraints 
1 ≤ T ≤ 10  <br>
2 ≤ N ≤ 1000    <br>
N×(N−1)<br>
1 ≤ M ≤    <br> 
2<br>
1 ≤ x,y,S ≤ N<br>
<br><br><br>Output  Format
T N − 1<br><br>For  each    of      test    cases,  print   a   single  line    consisting  of      space-separated integers,   denoting    the
shortest    distances   of  the N-1 nodes   from    starting    position    
S
. <br><br>  This    will    be  done    for all nodes   same    as  in  the
order   of  input   1   to  N.
 −1