<html>
<head>
<title>{Hacker_space}</title>
{%load staticfiles %}

<link rel="stylesheet" href="{%static 'djangotest/style.css' %}" />
<!--<link rel="stylesheet" href="{%static 'djangotest/bootstrap.min.css' %}" />-->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>


  <script src="{%static 'djangotest/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{%static 'load.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{%static 'djangotest/ace/ext-language_tools.js' %}"></script>
  <!--<script src="{%static 'djangotest/bootstrap.min.js' %}" type="text/javascript" charset="utf-8"></script>-->

<script >
    $(document).ready(function(){
      //$("#moodleform").submit();

       $('.hed').click(function(){
        window.location.assign("http://192.168.2.94:8000/feed/");
    }) ;
       $('#sb').click(function(){
        $(this).removeClass('btn-primary');
        
        if($(this).hasClass('btn-success')){
          $(this).addClass('btn-danger');
        }
         $(this).addClass('btn-success');
       });

        $('li').click(function(){
        var a=$(this).text();
        var b=$(this).val();
        $("#langc").val(this.value);
        $("#langcc").val(this.value);
        $('.lang').text('Selected Language :'+a);
        var temp=a.toLowerCase();
       if(temp=="c"||temp=="c++"){
        temp="c_cpp";
        
       }
       if(b=="1"){
        editor.session.setValue("#include<stdio.h>\nint main(){\n\t//enter code here\n}");
       }
       else if(b=="2"){
        editor.session.setValue("#include<iostream>\nusing namespace std;\nint main(){\n\t//enter code here\n}");
       }
       else if(b=="3"){
        editor.session.setValue("import java.io.*;\nimport java.util.*;\n\npublic class Solution{\n\tpublic static void main(String[] args){\n\t//enter code here\n\t}\n}");
       }
      else if(b=="3"){
        editor.session.setValue("import java.io.*;\nimport java.util.*;\n\npublic class Solution{\n\tpublic static void main(String[] args){\n\t//enter code here\n\t}\n}");
       }
       else if(b=="20"){
        editor.session.setValue("function processData(input) {\n    //Enter your code here\n} \nprocess.stdin.resume();\nprocess.stdin.setEncoding(\"ascii\");\n_input = \"\";\nprocess.stdin.on(\"data\", function (input) {\n    _input += input;\n});\nprocess.stdin.on(\"end\", function () {\n   processData(_input);\n});");
       }
     
       else if(b=="7"){
        editor.session.setValue("<?php\n$_fp = fopen(\"php://stdin\", \"r\");\n/* Enter your code here. Read input from STDIN. Print output to STDOUT */\n?>   ");
       }
       else{
        editor.session.setValue("#enter your code here");
       }
        var src='ace/mode/'+temp;
         editor.getSession().setMode(src);

      
         
        });

      
            
        });

/*http://api.hackerrank.com/checker/submission.json -d 'source=print 1&lang=5&testcases=["1"]&api_key=hackerrank|161256-622|faa76a548e2dce2ef37df6a68d4dc0c75bd760f3'*/
</script>

<h1 style="color:black;" ><font class="hed">{ Hacker_Space }</font></h1>
</head>
<body >

<script>

</script>

<script language="JavaScript">
  function processForm()
  {
    var parameters = location.search.substring(1).split("&");
    var temp = parameters[0].split("=");
    l = unescape(temp[1]);
    var q=l.split(":");
  
   var ques=q[1];

    var xhttp = new XMLHttpRequest();
     xhttp.onreadystatechange = function() {
 if (xhttp.readyState == 4 && xhttp.status == 200) {
 // alert(xhttp.responseText);
 var res=xhttp.responseText.split(";");
 var test=res[ques].split("testt");
document.getElementById("ttt").innerHTML = test[0];

var test=test[1].split("out");
$("#test").val(test[0]);
//alert(test[1]);
//alert(test[0]);
var test=test[1].split("sub");
//alert(test[0]);
$("#out").val(test[0]);
$("#outc").val(test[0]);
$("#testc").val(test[1]);
//alert(test[1]);
q[0]=q[0].replace('+',' ');
q[0]=q[0].replace('+',' ');
q[0]=q[0].replace('+',' ');
q[0]=q[0].replace('+',' ');
//alert(q[0]);
document.getElementById("quest").innerHTML = unescape(q[0]);
  }
  };
  
xhttp.open("GET","quest.json",true);
 
    xhttp.send();
   



  }
  processForm();
</script>
<div id="top " class="page-top">
<div class="container">
<div class="blnk"></div>
<div class="row">
<div class="col-sm-6">
<div class="ps">
<h2 id="quest"></h2>
<div class="tt" id="ttt">


</div>
</div>
</div>

<div class="col-sm-6">
<div class="edto">
 <div class="dropdown">
    <button class="btn btn-active dropdown-toggle" type="button" data-toggle="dropdown">Language
    <span class="caret"></span></button>
    <ul class="dropdown-menu" >
      <li ><a href="#">Language</a></li>
      <li value="1"><a href="#">C</a></li>
      <li value="2"><a href="#">C++</a></li>
      <li value="3"><a href="#">Java</a></li>
      <li value="8"><a href="#">Ruby</a></li>
      <li value="5"><a href="#">Python</a></li>
      <li value="7"><a href="#">PHP</a></li>
      <li value="20"><a href="#">JavaScript</a></li>
    </ul>
    
    <b class="lang">Select A Language</b>
  </div>
<div id="editor">
</div>
  
<!--<iframe src="http://api.hackerrank.com/checker/languages.json"></iframe>-->
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    //editor.getSession().setMode("ace/mode/javascript");
    editor.getSession().setMode("ace/mode/c_cpp");
    ace.require("ace/ext/language_tools");

editor.setOptions({
    enableBasicAutocompletion: true
});

</script>

<script>
function cpl(){
  var editor = ace.edit("editor");
  var code=editor.getValue();

  //alert(code);
  document.getElementById('src').value=code;
  document.getElementById('moodleform').submit();

}
</script>
<script>
function cpll(){
  var editor = ace.edit("editor");
  var code=editor.getValue();

  //alert(code);
  document.getElementById('srcc').value=code;
  document.getElementById('modleform').submit();
  document.getElementById('sb').removeAttribute('onclick');

}
</script>
</div>
</div>

</div>
</div>
<div class="subm ">
<a class="com btn btn-primary page-scroll" onclick="cpl()" href="#compile">Compile &amp; Run</a>
<button class="btn btn-primary" id="sb" onclick="cpll()">Submit</button>
</div>
</div>
<!--<button type="button" id="btn" onclick="lnmo()" >chk</button>-->
<div id="cpile">
<section id="compile" >
    <div class="container-fluid">
    <a class="btn btn-primary top " href="#top">top</a>
<h2>Compile Log</h2>
<!--  <form name="model" 
      id="moodleform" target="iframe" 
      method="post" action="http://api.hackerrank.com/checker/submission.json" enctype='application/json'
> 
    <input type="hidden" id="src" name="source" value=""/>
    <input type="hidden" id="langc" name="lang" value=""/>
    <input type="hidden" name="api_key" value="hackerrank|161256-622|faa76a548e2dce2ef37df6a68d4dc0c75bd760f3"/>
    <input type="hidden" name="testcases" value='["3"]'/>
    
    
</form>-->
  <form name="model"
      id="moodleform" target="iframe"
      method="POST" action="/get/" enctype='application/json'
>
    {% csrf_token %}
    <input type="hidden" id="src" name="source" value=""/>
    <input type="hidden" id="langc" name="lang" value=""/>
    <input type="hidden" id="test" name="testcases" value=''/>
    
    <input type="hidden" id="out" name="output" value=""/>

</form>
 <form name="model"
      id="modleform" target="iframe"
      method="POST" action="/sub/" enctype='application/json'
>
    {% csrf_token %}
    <input type="hidden" id="srcc" name="source" value=""/>
    <input type="hidden" id="langcc" name="lang" value=""/>
    <input type="hidden" id="testc" name="testcases" value=''/>
    
    <input type="hidden" id="outc" name="output" value=""/>

</form>

<div class="compilelog" >
<iframe  id="iframe" name="iframe" width="600px" >
 
</iframe></div>
<!--<b>Compile Message&nbsp; : &nbsp;line1,prit
                            <br> Syntax Error&nbsp;:&nbsp;invalid syntax<br><br></b>-->
</div>

</section>
</div>

</body>

</html>
